import numpy as np

list_ = [ ‘1’ , ’2’ , ‘3’ , ‘4’ , ‘5’ ]

array_list = np.array(object = list_)

Q1. Is there any difference in the data type of variables list_ and array_list? If there is then write a code
to print the data types of both the variables.

In [28]:
import numpy as np

list_ = [ '1','2','3','4','5' ]

array_list = np.array(object = list_)

list_ is a list structure while array_list is an array

In [23]:
type(list_)

list

In [24]:
type(array_list)

numpy.ndarray

In [29]:
for i in list_:
  print(f'Data type for {i} is {type(i)}')

for j in range(0,len(array_list)):
  print(f'Data type for {array_list[j]} from array_list is {type(array_list[j])}')

Data type for 1 is <class 'str'>
Data type for 2 is <class 'str'>
Data type for 3 is <class 'str'>
Data type for 4 is <class 'str'>
Data type for 5 is <class 'str'>
Data type for 1 from array_list is <class 'numpy.str_'>
Data type for 2 from array_list is <class 'numpy.str_'>
Data type for 3 from array_list is <class 'numpy.str_'>
Data type for 4 from array_list is <class 'numpy.str_'>
Data type for 5 from array_list is <class 'numpy.str_'>

Q3. Considering the following changes in the variable, array_list:

array_list = np.array(object = list_, dtype = int)

Will there be any difference in the data type of the elements present in both the variables, list_ and arra_list? If so then print the data types of each and every element present in both the variables, list_ and arra_list.

In [30]:
array_list = np.array(object = list_, dtype = int)

Above expression will change the elements of array_list to int rather than string. We will try to print out below:

In [31]:
for i in list_:
  print(f'Data type for {i} is {type(i)}')

for j in range(0,len(array_list)):
  print(f'Data type for {array_list[j]} from array_list is {type(array_list[j])}')

Data type for 1 is <class 'str'>
Data type for 2 is <class 'str'>
Data type for 3 is <class 'str'>
Data type for 4 is <class 'str'>
Data type for 5 is <class 'str'>
Data type for 1 from array_list is <class 'numpy.int64'>
Data type for 2 from array_list is <class 'numpy.int64'>
Data type for 3 from array_list is <class 'numpy.int64'>
Data type for 4 from array_list is <class 'numpy.int64'>
Data type for 5 from array_list is <class 'numpy.int64'>

Consider the below code to answer further questions:

In [32]:
import numpy as np

num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

num_array = np.array(object = num_list)

Q4. Write a code to find the following characteristics of variable, num_array:

1. shape
2. size

In [34]:
num_array.shape

(2, 3)

In [35]:
num_array.size

6

Q5. Write a code to create numpy array of 3*3 matrix containing zeros only, using a numpy array creation function.

In [41]:
az = np.zeros((3,3))
az

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

6. Create an identity matrix of shape (5*5) using numpy functions.

In [43]:
ai = np.eye(5)
ai

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])